# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

/AssetStoreTools*

*~!~*
StreamingAssets/PerformanceTestRunInfo.json*
/InitTestScene*.unity
/InitTestScene*.unity.meta